# VS Code
.vscode/

# Maven
target/
*.log
.mvn/wrapper/*.jar

# VSUM storage created by running VSUMExample.main() (used by the vitruvocl VS Code extension)
/vsumexample/

# Eclipse
META-INF
build.properties
plugin.properties
